
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>
<body>

    <div>
        <object classid="clsid:4b881db6-6b08-48a4-8f3d-3414ad2d0b50" codebase="Content/cli_setup.exe"
                width="200" height="40" id="fsclient"></object> 
    </div>

</body>
</html>
