@model MRTBusiness.Models.DFSDir
@{
    ViewBag.Title = "edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
<script src="~/Scripts/jquery.ztree.core.min.js"></script>
<script src="~/Scripts/jquery.zeroclipboard.min.js"></script>
<script>
    var setting = {
        async: {
            enable: true,
            url: "@Url.Action("treedata")",
            autoParam: ["id", "name=n", "level=lv" , "path=p"],
            otherParam: { "otherParam": "zTreeAsyncTest" },
            dataFilter: filter
        },
        callback: {
            onClick: zTreeOnClick
         }
    };
    function zTreeOnClick(event, treeId, treeNode) {
        if (treeNode.isParent) return false;
        $("#fileDetail").data("path", treeNode.path);
        $("#fileDetail").modal();

    };
    function filter(treeId, parentNode, childNodes) {
        if (!childNodes) return null;
        var ret = [];
        for (var i = 0, l = childNodes.Dir.length; i < l; i++) {
            ret.push({ id : 1 , name:childNodes.Dir[i].Path , isParent: true , path : childNodes.Path});
            //childNodes[i].name = childNodes.Dir[i].Path;
        }

        for (var i = 0, l = childNodes.File.length; i < l; i++) {
            var n = childNodes.File[i].Path.replace(/^.*\/|\..*$/, "");
            ret.push({ id: 1, name: n, isParent: false, path: childNodes.File[i].Path });
            //childNodes[i].name = childNodes.Dir[i].Path;
        }
        return ret;
    }

    $(document).ready(function () {
        $.fn.zTree.init($("#treeDemo"), setting);
        $("body")
                 .on("copy", ".zclip", function (/* ClipboardEvent */ e) {
                     e.clipboardData.clearData();
                     e.clipboardData.setData("text/plain", $(this).data("zclip-text"));
                     e.preventDefault();
                 });
    });
</script>

<div class=".container-fluid body-content">
    <div class="row">
        <div class="col-md-12">
            <ul id="treeDemo" class="ztree"></ul>
        </div>
    </div>
</div>

<div class="modal fade" id="fileDetail" tabindex="-1" role="dialog" aria-labelledby="fileDetail">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">File Block Information</h4>
            </div>
            <div id="fileDetailContent" class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#fileDetail").on('show.bs.modal', function (e) {
            var obj = $(e.currentTarget);
            $.get("@Url.Action("FileDetail")", { path: obj.data("path") }, function (data, status, jxhr) {
                $("#fileDetailContent").html(data);
            });
        }) 
    });
</script>

